<div class="data-btn">
           <button>Company Information</button>
         </div>
        
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
					<th width="50px">ID</th>
                    <th>Company Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Contact Person</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
					<td><%=data[i]._id%></td>
                    <td><%=data[i].company_name%></td>
                    <td><%=data[i].address%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i].email%></td>
                    <td><%=data[i].contact_person%></td>
                    <td>
                        <a class="a-inside edit" href="../companies/edit/<%=data[i]._id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../companies/delete/<%=data[i]._id%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No Company</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>